.featureMentors{
    text-align: center;
    margin-top: 25px;
}
  
.featureMentors h2{
    color: #1890ff;
    font-weight: 600;
    margin-bottom: 25px;
}

.featuredMentorsInner{
    width: 80%;
    display: inline-block;
}